html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: url('images/bg-pattern.png');
}

.input {
  width: 90%;
  margin: 10px 20px 0;
}

.intro {
  text-align: center;
}

li {
  margin-top: 0;
  font-weight: 400;
  font-size: 30px;
}

.intro img {
  display: block;
  max-width: 100%;
  height: auto;
}
